<?xml version='1.0' encoding='utf-8'?>
<widget id="org.novaxr.cn" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Skybureau App</name>
    <description>Skybureau Web</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    
    <!-- 应用图标配置 - 使用与网站相同的图标 -->
    <icon src="../public/icons/favicon-16x16.png" width="16" height="16" />
    <icon src="../public/icons/favicon-24x24.png" width="24" height="24" />
    <icon src="../public/icons/favicon-32x32.png" width="32" height="32" />
    <icon src="../public/icons/favicon-96x96.png" width="96" height="96" />
    <icon src="../public/icons/favicon-128x128.png" width="128" height="128" />
    
    <!-- Android平台特定图标配置 -->
    <platform name="android">
        <icon density="ldpi" src="../public/icons/favicon-32x32.png" />
        <icon density="mdpi" src="../public/icons/favicon-32x32.png" />
        <icon density="hdpi" src="../public/icons/favicon-96x96.png" />
        <icon density="xhdpi" src="../public/icons/favicon-96x96.png" />
        <icon density="xxhdpi" src="../public/icons/favicon-128x128.png" />
        <icon density="xxxhdpi" src="../public/icons/favicon-128x128.png" />
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    
    <!-- Android平台特定配置：允许混合内容 -->
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        
        <!-- 允许混合内容的WebView设置 -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        
        <!-- 设置WebView的混合内容模式 -->
        <config-file parent="/*" target="res/xml/config.xml">
            <preference name="MixedContentMode" value="2" />
        </config-file>
        
        <!-- 新的Android Splash Screen API配置 (Cordova 12.0.0+) -->
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="../public/icons/favicon-128x128.png" />
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="3000" />
    </platform>
</widget>
